*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Proteger archivos de firma (keystore)
*.jks
*.keystore
keystore/
app/keystore/

# Archivos sensibles
google-services.json

